:root {
    --colour-glass: #f5f7f8bd;
    --colour-accent: #f07167;
  }

  * {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
  }

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    transition: all .5s ease-in-out;

    max-width: 100%;
    overflow-x: hidden;
}


.topbar {
    background-color: #238bbe;
    width: 100%;
    min-height: 3vw;
}

    .img-logo {
        width: 60px;
        height: auto;
    }

.undertop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

    .sidebar {
        background-color: #1c5894;
        width: 4vw;
        min-height: 92vh;
    }
        .img-sidebar {
            width: 50px;
            height: auto;
        }

    .main-section {
        background-color: #e8f0f3;
        width: 97vw;
        height: 100%;
        min-height: 93vh;
        display: flex;
        flex-direction: column;
    }

        .titlebar {
            width: 94vw;
            font-size: 1.5rem;
            padding: 1rem;
            background-color: white;
            box-shadow: 0px 3px 2px lightgrey;
        }

        .working-area {
            padding: 1vw;
            padding-top: 2rem;
            width: 92vw;
            height: 100%;
            min-height: 640px;
            background-color: white;
            margin: 1rem;
            margin-top: 2rem;
            box-shadow: 0px 3px 2px lightgrey;
        }
            .buttons-and-total{
                width: 92vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

                .total-entries {
                    padding: 0.5rem;
                    border: 1px solid rgba(155, 155, 155, 0.836);
                    box-shadow: 1px 3px 2px lightgrey;
                }

            .advanced-filters {
                color: #1c5894;
                margin-top: 2rem;
                margin-bottom: 2rem;
                cursor: pointer;
            }

            .filter-options {
                display: none;
                margin: 1.5rem;
                padding: 2rem;
                width: 86vw;
                height: 200px;
                background-color: rgba(245, 245, 245, 0.541);
                border: 1px solid rgba(211, 211, 211, 0.685);
                box-shadow: 1px 3px 2px lightgrey;
                border-radius: 2px;
            }

                .search-option {
                    height: 3rem;
                    display: flex;
                    justify-content: column;
                }

            .show-and-search {
                width: 92vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

                .number-of-orders {
                    width: 3rem;
                
                }

.main-table {
    margin-top: 2rem;
    border: 1px solid rgba(211, 211, 211, 0.781);
}

.table {
    display: grid;
    grid-template-columns: 4vw 3vw 10vw 10vw 8vw 8vw 8vw 20vw auto;
    text-align: center;
}

.table-item {
    min-height: 3rem;
    border: 1px solid rgba(211, 211, 211, 0.781);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-actions {
    width: 200px;
    height: auto;
}

.ship-on-date {
    width: 7vw;
}

.btn {
    padding: 0.5rem;
    color: rgba(0, 167, 28, 0.836);
    border: 1px solid rgba(0, 167, 28, 0.836);
    box-shadow: 1px 3px 2px lightgrey;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: rgba(0, 167, 28, 0.836);
}

a {
    color: #238bbe;
    text-decoration: none;
}

.additional-info {
    text-align: center;
    padding: 2rem;
}

hr {
    width: 50vw;
    border-radius: 5px;
}

.cursor {
    cursor: pointer;
}

.expand {
    position: relative;
    left:-10px;
    top: -10px;

    width: 60%;
    height: auto;
}

.img50 {
    width: 50%;
    height: auto;
}

.img25 {
    width: 25%;
    height: auto;
}

.date-red {
    color: red;
}

.date-yellow {
    color: goldenrod;
}